{% extends 'baseRH.html.twig' %}
{% block title %}Affecter Equipe{% endblock %}
{% block add_style %}
    <link href="{{ asset('assets/plugins/bootstrap-select/bootstrap-select.min.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Affectation des Equipes</h3>
        </div>

        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>


    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                        <form class="m-t-40" novalidate method="post">

                        <div class="col-md-12">
                            <label class="control-label text-right col-md-3">Nom d'employe</label>
                            <select name="nom" class="selectpicker m-b-20 m-r-10" data-style="btn-info btn-outline-info">
                                {% for elt in listeEmploye %}
                                <option  value="{{ elt.Lastname }}">{{ elt.Lastname }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label class="control-label text-right col-md-3">Nom d'equipe</label>
                            <select class="selectpicker m-b-20 m-r-10" name="equipe" data-style="btn-info btn-outline-info">
                                {% for elt in listequipe %}
                                    <option  value="{{ elt.NomEq }}">{{ elt.NomEq }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success">Affecter</button>
                        </form>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    Lister les liste employe avec les affectation
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block add_script %}
    <script src="{{asset('assets/plugins/bootstrap-select/bootstrap-select.min.js')}}" type="text/javascript"></script>
{% endblock %}