<!doctype html>
<html class="no-js" lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% block title %}<title>About || Rideo</title> {% endblock %}

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assetsC/img/favicon.ico')}}">
    <link rel="apple-touch-icon" href="{{ asset('assetsC/apple-touch-icon.png') }}">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- style css -->
    <link rel="stylesheet" href="{{ asset('assetsC/style.css')}}">
    <!-- modernizr js -->
    <script src="{{ asset('assetsC/js/vendor/modernizr-2.8.3.min.js')}}"></script>
</head>
<body style="color:#222;">
<h1>Facture</h1>

<div class="adresse">
    <div class="adr_lab">De:</div>
    <div class="adr_cont">
        <strong>Minipo Groupe</strong>
        <p>67 Rue Alain Savry
        <p>Résidence Jardin II Bloc B،</p>
        <p>Tunis 1002</p>
        <p>71 582 006|71 582 005</p>
        <p>Site: www.Minipo.tn</p>
    </div>
</div>

<br/><br/><br/>

<section class="cart-page section-padding">
    <div class="container">

        <div class="col-xs-12">
            <div class="single-check p-bottom50 clearfix">
                <div class="check-title">
                    <strong><LABEL>Facture Réference: </LABEL></strong><br/>
                    <LABEL>date d'emission: </LABEL><br/>
                    <LABEL>client: </LABEL><br/>
                    <label>Contact: </label><br/><br/>
                </div>

                <div class="table-responsive table-two">
                    <table class="order-table text-center">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Prix Unitaire</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr>
                            <td class="td-text">

                                <div class="order-dsc">
                                    <p><a href="#">Sensor Carbon Jenson GX1 Bike</a></p>
                                </div>
                            </td>
                            <td>40.000</td>
                            <td>1</td>
                            <td>$170.00</td>
                        </tr>
                        <tr>
                            <td class="td-text">
                                <div class="order-dsc">
                                    <p><a href="#">Sensor Carbon Jenson GX1 Bike</a></p>
                                </div>
                            </td>
                            <td>40.000</td>
                            <td>1</td>
                            <td>$170.00</td>
                        </tr>
                        <tr>
                            <td class="td-text">
                                <div class="order-dsc">
                                    <p><a href="#">Sensor Carbon Jenson GX1 Bike</a></p>
                                </div>
                            </td>
                            <td>40.000</td>
                            <td>1</td>
                            <td>$170.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="single-check p-bottom50">
                <div class="check-title">
                    <h3>Facture Totals</h3>
                </div>
                <div class="subtotal clearfix">
                    <p>Total <strong class="floatright"><span>$170.00</span></strong></p>
                </div>
                <br/><br/><br/>
            </div>
        </div>
    </div>



</section>
<footer>
    <div class="footer-logo-text padding-close">
        <div class="container text-center">
            <p>Signature<p>
                <img src="{{ asset('img/cart/1.jpg') }}" alt="Add Product"/>
        </div>
    </div>
</footer>




<!-- all js here -->
<!-- jquery latest version -->
<script src="{{ asset('assetsC/js/vendor/jquery-1.12.3.min.js') }}"></script>
<!-- bootstrap js -->
<script src="{{ asset('assetsC/js/bootstrap.min.js') }}"></script>
<!-- camera slider JS -->
<script src="{{ asset('assetsC/js/camera.min.js') }}"></script>
<!-- jquery.easing js -->
<script src="{{ asset('assetsC/js/jquery.easing.1.3.js') }}"></script>
<!-- slick slider js -->
<script src="{{ asset('assetsC/js/slick.min.js') }}"></script>
<!-- jquery-ui js -->
<script src="{{ asset('assetsC/js/jquery-ui.min.js') }}"></script>
<!-- magnific-popup js -->
<script src="{{ asset('assetsC/js/magnific-popup.min.js') }}"></script>
<!-- countdown js -->
<script src="{{ asset('assetsC/js/countdown.js') }}"></script>
<!-- meanmenu js -->
<script src="{{ asset('assetsC/js/jquery.meanmenu.js') }}"></script>
<!-- plugins js -->
<script src="{{ asset('assetsC/js/plugins.js') }}"></script>
<!-- main js -->
<script src="{{ asset('assetsC/js/main.js') }}"></script>

</body>
</html>