{% extends 'base.html.twig' %}
{% block Reclamation %}
    <li>  <a class="has-arrow waves-effect waves-dark"  aria-expanded="false"><i class="mdi mdi-file-document-box"></i><span class="hide-menu">Gestion Reclamtion </span></a>
        <ul aria-expanded="false" class="collapse">
            <li><a href="{{ path('minipo_AfficherToutesReclamationEmploye') }}">Reclamations employe  </a></li>
            <li><a href="{{ path('minipo_AfficherToutesReclamation') }}">Reclamations Client </a></li>
            <li><a href="{{ path('minipo_Stat') }}">Statistique</a></li>
            <li><a href="/">Modern</a></li>
        </ul>
    </li>
{% endblock  %}
{% block reclamationclient   %}
{#<Table border="1">
    <tr>
        <th>id</th>
        <th>type</th>
        <th>Objet</th>
        <th>Description</th>
        <th>Date </th>
        <th>Etat </th>
        <th>Reponse</th>
        <th>suppression</th>
    </tr>
    {% for elt in reclamation  %}
    <tr>



        <td> {{ elt.id.id }}</td>
        <td> {{ elt.type}}</td>
        <td> {{ elt.objet}}</td>
        <td> {{ elt.description}}</td>
        <td> {{ elt.dater|date}}</td>
        <td> {{ elt.etatr }}</td>
        <td> {{ elt.Reponse}} </td>
        <td><a href="{{ path('minipo_SupprimerReclamation',{'etatr':elt.etatr}) }}">
                <button>supprimer</button></a></td>
        {% endfor  %}
    </tr>

</Table>#}



                    {#<label>Search: <input type="search" class="" placeholder="" aria-controls="example23" name="etatr"></label>
                    <a href="{{ path('minipo_RechercheReclamation') }}" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                    <ul>
                        <li>
                            <a href="{{ path('minipo_RechercheReclamation') }}" data-toggle="tooltip" data-original-title="Close">
                        </li>
                    </ul>#}



               {# <!-- jQuery is necessary -->
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

                <script type="text/javascript">
                    jQuery(document).ready(function() {
                        var searchRequest = null;
                        $("#search").keyup(function() {
                            var minlength = 3;
                            var that = this;
                            var value = $(this).val();
                            var entitySelector = $("#entitiesNav").html('');
                            if (value.length >= minlength ) {
                                if (searchRequest != null)
                                    searchRequest.abort();
                                searchRequest = $.ajax({
                                    type: "GET",
                                    url: "{{ path('minipo_Search') }}",
                                    data: {
                                        'q' : value
                                    },
                                    dataType: "text",
                                    success: function(msg){
                                        //we need to check if the value is the same
                                        if (value===$(that).val()) {
                                            var result = JSON.parse(msg);
                                            $.each(result, function(key, arr) {
                                                $.each(arr, function(id, value) {
                                                    if (key === 'searchParam') {
                                                        if (id !== 'error') {
                                                            entitySelector.append('<li><a href={{ path('minipo_Search') }}">'+value+'</a></li>');
                                                        } else {
                                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                        }
                                                    }
                                                });
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    });
                </script>#}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Reclamation Employe</h4>
                <h6 class="card-subtitle">Liste des Reclamations Employe</h6>
                <div class="row m-t-40">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-inverse card-info">
                            <div class="box bg-info text-center">
                                <h1 class="font-light text-white">{{ total }}</h1>
                                <h6 class="text-white">Total Reclamation </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-success card-inverse">
                            <div class="box text-center">

                                <h1 class="font-light text-white">{{ sommetraité }}</h1>


                                <h6 class="text-white">Total  traiter</h6>
                            </div>
                        </div>
                    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card card-inverse card-danger">
            <div class="box text-center">
                <h1 class="font-light text-white">{{ sommenontraité }}</h1>
                <h6 class="text-white">Total Non Traiter</h6>
            </div>
        </div>
    </div>
                <div class="card-body collapse show">
                    <div class="table-responsive">

                        <table class="table product-overview">
                            <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(reclamationemploye,'id','r.id.id') }}</th>
                                <th>{{ knp_pagination_sortable(reclamationemploye,'Categorie','c.idcatrec') }}</th>
                                <th>Objet</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Reponse</th>
                                <th>{{ knp_pagination_sortable(reclamationemploye,'Date','r.dateremp') }} </th>
                                <th>{{ knp_pagination_sortable(reclamationemploye,'Etat','r.etatremp') }}</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            {% for elt in reclamationemploye  %}
                            <tbody>
                            <tr>
                                <td> {{ elt.id.id}}</td>
                                <td>  {% if  elt.idcatrec.nom is same as ('Problème de Compte')%}
                                        <div class="label label-table label-primary">{{ elt.idcatrec.nom }}</div>
                                    {%endif%}
                                    {% if  elt.idcatrec.nom is same as ('Problème de Commande')%}
                                        <div class="label label-table label-info">{{ elt.idcatrec.nom }}</div>
                                    {%endif%}
                                    {% if  elt.idcatrec.nom is same as ('Autre')%}
                                        <div class="label label-table label-warning">{{ elt.idcatrec.nom }}</div>
                                    {%endif%}</td>
                                <td> {{ elt.objet}}</td>
                                <td> {{ elt.description}}</td>
                                <td width="200px"> <img class="img-fluid"width="30%" src="{{ asset('uploads/post/' ~ elt.image) }}" alt=""></td>
                                <td> {{ elt.reponse}} </td>
                                <td> {{ elt.dateRemp|date()}}</td>
                                <td>
                                    {% if  elt.etatRemp is same as ('traiter')%}
                                        <div class="label label-table label-success">{{ elt.etatremp }}</div>
                                    {%endif%}
                                    {% if  elt.etatRemp is same as ('non traiter')%}
                                        <div class="label label-table label-danger">{{ elt.etatremp }}</div>
                                    {%endif%}
                                </td>


                                <td class="text-nowrap">
                                    <a href="{{ path('minipo_ModifierEtatReclamationEmploye',{'id':elt.idremp}) }}" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    {#<a href="{{ path('minipo_SupprimerReclamationEmploye',{'etatr':elt.etatRemp}) }}" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>#}
                                </td>

                                {% endfor  %}
                            </tr>

                            </tbody>
                        </table>

                        <div class="navigation ">
                            {{ knp_pagination_render(reclamationemploye) }}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

  {# minipo_SupprimerReclamation:
      path:   /afficher/supprimer/{etatr}
                  defaults: { _controller: minipoBundle:ServiceReclamationClient:SupprimerReclamation}#}