{% extends 'base.html.twig' %}
{% block content %}
{% if listeliv==NULL  %}
    Pas de formation
{% else %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Liste Livraison</h4>
    <div class="table-responsive">


    <table class="table table-striped">
        <tr> <th>id</th>
            <th>destination</th>
            <th>etat livraison</th>
            <th>id commande </th>
            <th>id livreur</th>
            <th>date livraison</th>
            <th>matricule livraison</th>

        </tr>
        {% for elt in listeliv %}
            <tr>

                <td>{{ elt.idliv }}</td>
                <td>{{ elt.destination }}</td>
                <td>{{ elt.etatl }}</td>
                <td>{{ elt.idc.refC }}</td>
                <td>{{ elt.id.username }}</td>
                <td>{{ elt.dateliv }}</td>
                <td>{{ elt.matriculeL }}</td>



            </tr>
        {% endfor %}

    </table>
    </div>
    </div>
    </div>
{% endif %}
{% endblock %}


