{% extends 'BaseReclamationClient.html.twig' %}

{% block reclamationclient %}

    {% block title %}<title>Info Produit</title> {% endblock %}


        {% if p==NULL  %}
            Pas de formation
        {% else %}

            <form method="POST">
                <img src="{{ asset('assetsC/mg/cart/1.png') }}i" alt="" />
                <h3>{{ p.designation }}</h3>
                <p>{{ p.idcateg.nom }}</p> <br /><hr>
                <strong><h3>{{ p.prix }}</h3></strong>
                <input type="number" id="quantity" name="qte" min="1">
                <a class="shop-btn" href="{{ path('minipo_ajouterLC',{'id':app.user.id,'idprod':p.idprod}) }}">
                    <input type="button" name="ajout" value="Ajouter Au Panier" />
                </a>
            </form>

        {% endif %}

{% endblock %}
