{% extends 'Panier.html.twig' %}

{% block tableau %}
    {% if lc==NULL  %}
    Pas de formation
    {% else %}
        <thead>
            <tr>
                <th>Product</th>
                <th>Unit Price</th>
                <th>QTE</th>
                <th>Subtotal</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for elt in lc %}
            <form method="post" >
                <tr>
                    <td class="td-img text-left">
                        <a href="#"><img src="{{ asset('assetsC/img/cart/1.jpg') }}" alt="Add Product" /></a>
                        <div class="items-dsc">
                            <p><a href="#">{{ elt.idprod.designation }}</a></p>
                        </div>
                    </td>
                    <td>{{ elt.idprod.prix }}</td>
                    <td>
                        <form method="post">
                            <div class="plus-minus">
                                <a class="dec qtybutton">-</a>
                                <input type="text" name="qte" class="plus-minus-box" value={{ elt.qte }} >
                                <a class="inc qtybutton">+</a>
                            </div>
                        </form>
                    </td>
                    <td>{{ elt.subtotal }}</td>
                    <td>
                        <a href="{{ path('minipo_deleteLc',{'id':app.user.id,'idLc':elt.idlc}) }}"><i class="fa fa-trash" title="Remove this product"></i></a>
                        <a href="{{ path('minipo_updateQteLc',{'id':app.user.id,'idLc':elt.idlc} ) }}"><button type="submit"><i class="fa fa-pencil" title="Update this product"></i></button></a>
                    </td>
                </tr>
            </form>
            {% endfor %}

        </tbody>
        {% block total %}<p>Subtotal: <span class="floatright">{{ lc[0].idcmd.total }}</span></p>{% endblock %}
    {% endif %}
{% endblock %}